@use "./variables" as *;


@mixin margin-auto{
    margin: auto;
}

@mixin box-shadow($top, $left, $blur, $color){
    box-shadow: $top $left $blur darken($color, 10%);
}

@mixin flex($justify, $direction){
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin grid($value){
    display: grid;
    grid-template-columns: repeat(3, $value);
}

@mixin media-query($mq-breakpoint, $mq-breakpoints: $breakpoints){
    
    @if map-has-key($mq-breakpoints, $mq-breakpoint ){
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media screen and (min-width: #{$mq-breakpoint}){
        @content;
    }
}
